mat-toolbar{
  margin-top: 0.5vw;
  height:60px;
  background-color:#4e4a8bc8;
  width: 100%;
  margin-bottom: 2%;
  color: rgba(241, 235, 235, 0.85);
}
.container{
background-color: transparent;
background-image: url('../../../assets/teal.png');
}
  
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
  
mat-form-field{
  width: 100%;
}
.container{
  width:100%;
}
.createCategory{
  width:100%;
}